<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37290099778-odong3ke8t2pse45i0247gfovts18mlq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37290099778-odong3ke8t2pse45i0247gfovts18mlq</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ71FdRe1zIX2PPoERbZaTdgR6A4R7Fds</string>
	<key>GCM_SENDER_ID</key>
	<string>37290099778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haryanaassociationofkenya</string>
	<key>PROJECT_ID</key>
	<string>learnovate-31ad9</string>
	<key>STORAGE_BUCKET</key>
	<string>learnovate-31ad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37290099778:ios:f5e5f997608d7ce6ca19db</string>
	<key>DATABASE_URL</key>
	<string>https://learnovate-31ad9-default-rtdb.firebaseio.com</string>
</dict>
</plist>